body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px; /* Ajout de marges pour espacer le titre */
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .question {
    margin-bottom: 15px;
    padding-bottom: 10px; /* Ajout d'un peu d'espace en bas de chaque question */
  }
  
  .question p {
    font-weight: bold;
    margin-bottom: 10px; /* Espacement supplémentaire après le titre de la question */
  }
  
  input[type="radio"] {
    opacity: 0; /* Rend les boutons radio invisibles */
    position: absolute; /* Pour empêcher les boutons radio de déplacer le texte */
  }
  
  input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 20px;
  }
  
  input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
  }
  
  input[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #result {
    text-align: center;
    font-weight: bold;
  }
  